h2,
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    background: white;
    margin: 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 11px;
    font-variant: normal;
    overflow: hidden;
}
#notification {
    text-align: center;
    position: fixed;
    visibility: hidden;
    width: 200px;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background: rgb(163, 26, 20);
    color: white;
    border-radius: 5px;
    border-color: solid rgb(163, 26, 20);
    border: 1px;
}
.blocker {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}
.popup {
    z-index: 100;
    display: none;
    position: absolute;
    width: 480px;
    height: auto;
    padding: 10px;
    top: 70px;
    left: 50%;
    margin-left: -250px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: rgb(240, 240, 240);
}
.command-line input {
    outline: none;
    border: 0;
    background: rgb(220, 220, 220);
    padding: 5px;
    width: 100%;
    font-size: 22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.command-line {
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}
.command-line ul {
    margin: 10px 0 0 0;
}
.command-line li {
    padding: 5px;
    font-size: 16px;
    position: relative;
}
.command-line li.active {
    background: rgb(93, 52, 249);
    color: white;
}
.command-line li .extra,
.command-line li .shortcut {
    color: #777
}
.command-line li.active .shortcut,
.command-line li.active .extra {
    color: #ddd;
}
.command-line li .title {
    display: block;
}
.command-line li .extra {
    display: block;
    font-size: 11px;
}
.command-line li .shortcut {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
}
.command-line .alert {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    background: rgb(255, 80, 80);
    color: white;
}
.command-line .alert .arrow {
    position: absolute;
    top: -10px;
    width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgb(255, 80, 80);
}
#top {
    padding: 10px 10px 0 10px;
    height: 26px;
    font-size: 13px;
    color: #333;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);
    border-bottom: 1px solid #999;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#top .tabs {
    display: inline-block;
    height: 25px;
    position: relative;
    -webkit-app-region: no-drag;
}
#top .tabs li {
    border-radius: 2px 2px 0 0;
    border: 1px solid #999;
    box-shadow: inset 0 1px 1px #eee;
    background: #ddd;
    overflow: hidden;
    height: 25px;
    -webkit-transition: -webkit-transform .1s linear;
    -moz-transition: -moz-transform .1s linear;
    transition: transform .1s linear;
    -webkit-app-region: no-drag;
}
#top .tabs li .fader {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: linear-gradient(to right, rgba(221, 221, 221, 0) 0px,  rgba(221, 221, 221, 1) 15px);
    z-index: 2;
}
#top .tabs li .close {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    z-index: 3;
    background: transparent;
    color: #888;
}
#top .tabs li.sticky .close {
    display: none;
}
#top .tabs li .close:hover {
    color: red;
}
#top .tabs li:hover .fader {
    background: linear-gradient(to right, rgba(238, 238, 238, 0) 0px,  rgba(238, 238, 238, 1) 15px);
}
#top .tabs li.selected .fader {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0px,  rgba(255, 255, 255, 1) 15px);
}
#top .tabs li span {
    margin-left: 5px;
}
#top .tabs li:first-child {
    border-left: 1px solid #999;
}
#top .tabs li:hover {
    background: #eee;
}
#top .tabs .selected {
    background: white;
    border-bottom: 0;
    padding-bottom: 1px;
}
#top .tabs li.selected:hover {
    background: white;
}
#top .tabs li {
    vertical-align: middle;
    line-height: 25px;
    display: inline-block;
    cursor: default;
    position: absolute;
}
#top .tabs li.drag {
    z-index: 10;
    border-right: 1px solid #999;
}
#top .tabs li.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
#top .controls {
    display: inline-block;
    margin-right: 3px;
    cursor: default;
    line-height: 28px;
}
#top .controls div {
    margin-right: 3px;
    vertical-align: top;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background:-webkit-linear-gradient(top, #666 0%, #aaa 100%);
    color: #eee;
    line-height: 10px;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #333;
    border: 1px solid #666;
}
#top .controls div:hover {
    background: #aaa;
}
#top .controls div:active {
    background: #666
}
.popup .action:active {
    background: rgb(127, 127, 127);
    box-shadow: inset 0 0 5px black;
}

/* GREP
 ******************************************************************************/
 
#grep input {
    margin: 5px;
    font-size: 14px;
}

#grep .progress {
    color: #888;
    display: block;
    margin: 5px;
}

/* HOME
 ******************************************************************************/
 
#home .controls {
    padding: 10px;
    text-align: right;
}

/* EXPLORER
 ******************************************************************************/
 
#explorer {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    font-variant: normal;
    overflow: scroll;
    border-top: 1px solid #ccc;
}
#explorer ul {
    border-right: 1px solid #ccc;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    min-height: 100%;
}
#explorer li {
    padding: 5px;
    vertical-align: middle;
    position: relative;
}
#explorer li.directory .icon {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 5px solid #888;
    vertical-align: middle;
}
#explorer li.active .icon {
	border-left: 5px solid white;
}
#explorer li.hidden .title {
	opacity: 0.7;
}
#explorer li.active {
    background: #ccc;
}
#explorer ul.active li.active {
    background: rgb(93, 52, 249);
    color: white;
}

/* START SCREEN
******************************************************************************/

#login {
    padding: 10px 5px;
}

#login input {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

#login button {
    display: block;
}

/* LIST VIEW
******************************************************************************/
 
.list-view {
    overflow: scroll;
}
.list-view h1 {
    padding: 10px 5px;
}
.list-view .loading {
    padding: 5px;
}
.list-view .error {
    padding: 5px;
    color: red;
}
.list-view li {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.list-view li.active {
    background: rgb(93, 52, 249);
    color: white;
}

/* AUTOCOMPLETE
******************************************************************************/

#autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 200px;
    background: white;
    border: 2px solid #ccc;
    z-index: 98;
}
#autocomplete li {
    padding: 5px;
}
#autocomplete li.active {
    background: rgb(93, 52, 249);
    color: white;
}

/* FULLSCREEN
 ******************************************************************************/
 
.fullscreen #top .tabs li {
    border-top: 0;
    height: 26px;
    line-height: 26px;
    box-shadow: 0;
}
.fullscreen #top .tabs li:first-child {
    border-left: 0;
}
.hide-window-controls #top .controls div,
.fullscreen #top .controls {
    display: none;
}
.fullscreen #top {
    padding: 0;
}